.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
        min-height: auto;
    }
}

.sidebar {
  width: 18%;
}

.main-content {
  width: 52%;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.suggestions {
  width: 30%;
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
  .sidebar,
  .main-content,
  .suggestions {
    width: 100%;
    min-height: auto;
  }
}